---
layout: default
sidebar: false
---

<div class="blog-index">
  {% assign index = true %}

  <div id="banner-wrap">
    <section id="banner" class="grid rounded">
      <h2>UTD's Premier A Cappella Ensemble</h2>
      <aside id="featured">
        <img src="{{ site.banner_pictures[0] }}" alt="Featured"/><img src="{{ site.banner_pictures[1] }}" alt="Featured"/>
      </aside>
      <p>{{ site.banner_text }}</p>
    </section>
    <p id="breadcrumbs" class="grid rounded">{{ site.upcoming_event }}</p>
  </div>

  <div id="newshead">
    <h1>Novis News</h1>
  </div>
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
  </div>
</div>
