// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role="banner"]
{
	background-image: url(/images/Logo3.jpeg);
	background-repeat: no-repeat;
	background-size: 1200px;
	height: 180px;
	position: relative;
}

header span
{
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
}

td
{
	padding-right: 15px;
	padding-left: 15px;
	border-right: dashed 1px;
	border-left: dashed 1px;
    white-space: nowrap;
}

table td:first-child
{
	border-left: none;
}
table td:last-child
{
	border-right: none;
}

.fb-like-wrapper *
{
	width: 100% !important;
}

.credit
{
    color: #29293d;
}
.credit a:link
{
    color: #29293d;
}
.credit a:visited
{
    color: #39393d;
}


// Making grids.
* {
  @include box-sizing(border-box);
}

$pad: 20px;

.grid {
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

.grid-element
{
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
